<script setup lang="ts">
import FirstComponent from "../components/FirstComponent.vue";
import SecondComponent from "../components/SecondComponent.vue";
import { ref } from "vue";
const num1 = ref(0);

function inc() {
  num1.value++;
}
function dec() {
  if (num1.value > 0) {
    num1.value--;
  }
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col><FirstComponent></FirstComponent></v-col>
      <v-col><SecondComponent></SecondComponent></v-col>
    </v-row>
    <v-row>
      <v-col>
        <p class="font-weight-medium">{{ num1 }}</p>
      </v-col>
      <v-col>
        <p class="font-weight-medium">{{ num1 * 2 }}</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        ><v-btn elevation="4" outlined plain variant="flat" @click="inc()">
          INCREMENT
        </v-btn>
      </v-col>
      <v-col
        ><v-btn elevation="4" outlined plain variant="flat" @click="dec()">
          DECREASE
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
