<script lang="ts" setup>
import { ref } from "vue";
const number = ref(0);
</script>

<template>
  <v-container>
    <v-row
      ><v-text-field
        v-model.number="number"
        label="Please Input Number"
        placeholder="0"
        type="number"
        :rules="[(v: any) => !!v || 'Number is not empty!!']"
        required
      ></v-text-field
    ></v-row>
    <v-row
      ><v-col v-for="n in number" :key="n" cols="1"
        ><v-card-text>{{ n }}</v-card-text></v-col
      ></v-row
    >
  </v-container>
</template>
