<script lang="ts">
export default {
  data() {
    return {
      nowImage: 1,
      angry: "feeling_imgs\\angry.png",
      cute: "feeling_imgs\\cute.png",
      excited: "feeling_imgs\\excited.png",
      pain: "feeling_imgs\\pain.png",
      shocked: "feeling_imgs\\shocked.png",
      smile: "feeling_imgs\\smile.png",
      Status: "Angry",
    };
  },
  methods: {
    Image(num: number) {
      this.nowImage = num;
      switch (num) {
        case 1:
          this.Status = "Angry";
          break;
        case 2:
          this.Status = "Cute";
          break;
        case 3:
          this.Status = "Excited";
          break;
        case 4:
          this.Status = "Pain";
          break;
        case 5:
          this.Status = "Shocked";
          break;
        case 6:
          this.Status = "Smile";
          break;
      }
    },
  },
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <img v-if="nowImage === 1" :src="angry" />
        <img v-if="nowImage === 2" :src="cute" />
        <img v-if="nowImage === 3" :src="excited" />
        <img v-if="nowImage === 4" :src="pain" />
        <img v-if="nowImage === 5" :src="shocked" />
        <img v-if="nowImage === 6" :src="smile" />
      </v-col>
      <v-col class="d-flex flex-column mb-6">
        <p class="text-h4 text-center mt-5 mb-4 text-center font-weight-black">
          {{ Status }}
        </p>

        <v-btn class="mb-4" block elevation="5" @click="Image(1)">ANGRY</v-btn>
        <v-btn class="mb-4" block elevation="5" @click="Image(2)">CUTE</v-btn>
        <v-btn class="mb-4" block elevation="5" @click="Image(3)"
          >EXCITED</v-btn
        >
        <v-btn class="mb-4" block elevation="5" @click="Image(4)">PAIN</v-btn>
        <v-btn class="mb-4" block elevation="5" @click="Image(5)"
          >SHOCKED</v-btn
        >
        <v-btn class="mb-4" mb-4 block elevation="5" @click="Image(6)"
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.mb-4:focus {
  background-color: yellow;
}
</style>
